$primary : #FFE6C2;
$secondary : #D8C4A7;
$troisieme : #212121;

$bg--primary : #212121;
$bg--secondary : #FFE6C2;
$bg--troisième : #212121;

@font-face {
    font-family: 'title';
    src: url('../assets/fonts/title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    color: $primary;
    background-color: $bg--primary;
    overflow-y: scroll;
    -ms-overflow-style: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.smooth--scroll {
    will-change: transform;
}

.is-loading {
    opacity: 0;
}
.is-loaded {
    opacity: 1;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.grid {
    width: 100%;
    padding-left: 3.2vw;
    padding-right: 3.2vw;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column {
    @extend .row;
    flex-direction: column;
}

.section {
    margin-top: 4vw;
    position: relative;
}



section {
    .line {
        transform-origin: 0%;
        opacity: 0;
        //transform: scaleX(0);
    }
}

.line {
    background-color: $primary;
    transition: all 0.5s;
}

.grey--line {
    background-color: $troisieme!important;
}

.horizontal {
    width: 22vw;
    height: 2px;
}

.vertical {
    height: 22vw;
    width: 2px;
}

.line__container {
    .line {
        margin-top: 7vw;
    }
}

// responsive

@media screen and (min-width: 1440px) {
    h3, h5{
        font-size: 1.5vw;
    }
}


@media screen and (max-width: 768px) {
    h3, h5{
        font-size: 18px;
        letter-spacing: 2px;
    }
    .about--me {
        .about--me__text {
            h4 {
                font-size: 5vw!important;
            }
            h5 {
                font-size: 4vw!important;
            }
        }
    }
    #pack--isRes.res {
        .pack__reaval.active {
            height: 87.6%;
        }
        .pack__reaval.close {
            height: 0%;
        }
        .pack__img--container {
            height: 65vw;
        }
        .pack__reaval {
            .pack__container {
                height: 100%;
                padding: 2vw 0;
                & .column {
                    justify-content: space-around;
                }
                & > * {
                    flex: auto;
                }
                .pack__content {
                    height: 100%;
                    .img--space {
                        height: 45vw;
                    }
                    p {
                        font-size: 3vw;
                    }
                    .button {
                        width: 37vw;
                        height: 10vw;
                        p{
                            font-size: 6vw;
                        }
                    }
                }
            }
        }            
        #pack__img {
            display: none;
        }
        #pack__img--res {
            display: block;
            margin: 10vw 0;
        }
    }
}

@media screen and (max-width: 660px) {
    h3, h5{
        font-size: 14px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 550px) {
    h3, h5{
        font-size: 10px;
        letter-spacing: 1px;
    }
}

