@keyframes scrollDown {
    0% {
        transform: translate(-50,-50%) rotate(-45deg);
    }
    50% {
        transform: translate(-50%,50%) rotate(-45deg);
    }
    100% {
        transform: translate(-50,-50%) rotate(-45deg);
    }
}

@keyframes rebond {
    0% {
        opacity: 1;
        transform: translate(-50%, -15%) scale(0);
    }
    25% {
        opacity: 1;
        transform: translate(-50%, -15%) scale(1.5);
    }
    45% {
        opacity: 1;
        transform: translate(-50%, -15%) scale(1.2);
    }
    60% {
        opacity: 1;
        transform: translate(-50%, -15%) scale(1.4);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -15%) scale(1);
    }
}

@keyframes glowLine {
    0% {
        animation-timing-function: cubic-bezier(.27,.01,1,.77);
        transform: translateX(-160%) scaleX(0);
        opacity: 0.2;
    }
    35% {
        animation-timing-function: cubic-bezier(0,.13,.59,1);
        transform: translateX(0%) scaleX(1.5);
        opacity: 0.8;
    }
    65% {
        transform: translateX(160%) scaleX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(160%) scaleX(0);
        background: white;
        opacity: 0;
    }
}

@keyframes shine {
    0% {
        background-position: -60%;
    }
    100% {
        background-position: 160%;
    }
}

@keyframes pack {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

@keyframes fadeText {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeOutText {
    from {
        opacity: 1;
        transform: translateY(10px);
    }
    to {
        opacity: 0;
        transform: translateY(0px);
        display: none;
    }
}