@keyframes scrollDown {
    0% {
        transform: translate(-50,-50%) rotate(-45deg);
    }
    50% {
        transform: translate(-50%,50%) rotate(-45deg);
    }
    100% {
        transform: translate(-50,-50%) rotate(-45deg);
    }
}

@keyframes rebond {
    0% {
        opacity: 1;
        transform: translate(-50%, -15%) scale(0);
    }
    25% {
        opacity: 1;
        transform: translate(-50%, -15%) scale(1.5);
    }
    45% {
        opacity: 1;
        transform: translate(-50%, -15%) scale(1.2);
    }
    60% {
        opacity: 1;
        transform: translate(-50%, -15%) scale(1.4);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -15%) scale(1);
    }
}