@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translate(-50, -50%) rotate(-45deg);
            transform: translate(-50, -50%) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate(-50%, 50%) rotate(-45deg);
            transform: translate(-50%, 50%) rotate(-45deg);
  }
  100% {
    -webkit-transform: translate(-50, -50%) rotate(-45deg);
            transform: translate(-50, -50%) rotate(-45deg);
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translate(-50, -50%) rotate(-45deg);
            transform: translate(-50, -50%) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate(-50%, 50%) rotate(-45deg);
            transform: translate(-50%, 50%) rotate(-45deg);
  }
  100% {
    -webkit-transform: translate(-50, -50%) rotate(-45deg);
            transform: translate(-50, -50%) rotate(-45deg);
  }
}

@-webkit-keyframes rebond {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(0);
            transform: translate(-50%, -15%) scale(0);
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1.5);
            transform: translate(-50%, -15%) scale(1.5);
  }
  45% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1.2);
            transform: translate(-50%, -15%) scale(1.2);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1.4);
            transform: translate(-50%, -15%) scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1);
            transform: translate(-50%, -15%) scale(1);
  }
}

@keyframes rebond {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(0);
            transform: translate(-50%, -15%) scale(0);
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1.5);
            transform: translate(-50%, -15%) scale(1.5);
  }
  45% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1.2);
            transform: translate(-50%, -15%) scale(1.2);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1.4);
            transform: translate(-50%, -15%) scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1);
            transform: translate(-50%, -15%) scale(1);
  }
}

@-webkit-keyframes glowLine {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.27, 0.01, 1, 0.77);
            animation-timing-function: cubic-bezier(0.27, 0.01, 1, 0.77);
    -webkit-transform: translateX(-160%) scaleX(0);
            transform: translateX(-160%) scaleX(0);
    opacity: 0.2;
  }
  35% {
    -webkit-animation-timing-function: cubic-bezier(0, 0.13, 0.59, 1);
            animation-timing-function: cubic-bezier(0, 0.13, 0.59, 1);
    -webkit-transform: translateX(0%) scaleX(1.5);
            transform: translateX(0%) scaleX(1.5);
    opacity: 0.8;
  }
  65% {
    -webkit-transform: translateX(160%) scaleX(0);
            transform: translateX(160%) scaleX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(160%) scaleX(0);
            transform: translateX(160%) scaleX(0);
    background: white;
    opacity: 0;
  }
}

@keyframes glowLine {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.27, 0.01, 1, 0.77);
            animation-timing-function: cubic-bezier(0.27, 0.01, 1, 0.77);
    -webkit-transform: translateX(-160%) scaleX(0);
            transform: translateX(-160%) scaleX(0);
    opacity: 0.2;
  }
  35% {
    -webkit-animation-timing-function: cubic-bezier(0, 0.13, 0.59, 1);
            animation-timing-function: cubic-bezier(0, 0.13, 0.59, 1);
    -webkit-transform: translateX(0%) scaleX(1.5);
            transform: translateX(0%) scaleX(1.5);
    opacity: 0.8;
  }
  65% {
    -webkit-transform: translateX(160%) scaleX(0);
            transform: translateX(160%) scaleX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(160%) scaleX(0);
            transform: translateX(160%) scaleX(0);
    background: white;
    opacity: 0;
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: -60%;
  }
  100% {
    background-position: 160%;
  }
}

@keyframes shine {
  0% {
    background-position: -60%;
  }
  100% {
    background-position: 160%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0 !important;
  font-family: futura-pt-bold, sans-serif;
  font-family: oswald, sans-serif;
  font-style: normal;
  font-weight: 700;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  cursor: none;
}

a, iframe {
  cursor: none;
}

body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.cursor {
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 2px solid #ffe6c2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  z-index: 9999;
}

.home {
  z-index: 99;
  background-color: #204039;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.home .home__text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home__text-container h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffe6c2;
  white-space: nowrap;
  text-align: center;
}

.home .home__text-container h1 .letter {
  text-transform: uppercase;
}

.home .home__text-container .home__name {
  letter-spacing: 2px;
  font-size: 3.5em;
  overflow: hidden;
}

.home .home__text-container .home__name .letter {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
  font-family: philosopher, sans-serif !important;
}

.home .home__text-container .home__citation {
  font-size: 0.75em;
  letter-spacing: 10px;
}

.home .home__text-container .home__citation .home__citation-text-wrapper {
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
}

.home .home__text-container .home__citation .letter {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.home .presets-button-wrapper {
  opacity: 0;
  position: absolute;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  color: rgba(225, 225, 225, 0.2);
}

.home .presets-button-wrapper .presets-button {
  position: relative;
}

.home .presets-button-wrapper .presets-button.shine {
  background: rgba(255, 255, 255, 0) -webkit-gradient(linear, left top, right top, from(rgba(149, 119, 75, 0)), color-stop(20%, #ffd599), color-stop(50%, #e0dac8), color-stop(80%, #ffd599), to(rgba(149, 119, 75, 0))) 0 0 no-repeat;
  background: rgba(255, 255, 255, 0) linear-gradient(to right, rgba(149, 119, 75, 0) 0%, #ffd599 20%, #e0dac8 50%, #ffd599 80%, rgba(149, 119, 75, 0) 100%) 0 0 no-repeat;
  background-position: 50%;
  background-size: 40% 100%;
  background-size: var(--shine-size, 40%) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  will-change: background-position;
  -webkit-animation: shine 1.6s infinite;
          animation: shine 1.6s infinite;
}

.home .presets-button-wrapper .presets-button.shine .presets-button__text {
  display: block;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.home .presets-button-wrapper .presets-button.shine .presets-button__line {
  bottom: -16px;
  margin: auto;
  display: block;
  height: 2px;
  width: 80px;
  left: 0;
  right: 0;
  -webkit-animation: glowLine 1.6s infinite;
          animation: glowLine 1.6s infinite;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home .presets-button::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: attr(data-text);
  background: inherit;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 5px;
}

.home .scroll-down {
  position: absolute;
  z-index: 2;
  bottom: 65px;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.home .scroll-down .scroll-down__indicator {
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  height: 15px;
  width: 15px;
  border-bottom: solid 1px #ffe6c2;
  border-left: solid 1px #ffe6c2;
  -webkit-animation: scrollDown 1.5s ease-in-out infinite;
          animation: scrollDown 1.5s ease-in-out infinite;
}

.home .scroll {
  position: fixed;
  left: 3%;
  bottom: 3%;
  z-index: 99;
}

.home .scroll .scroll__indicator {
  height: 3vh;
  width: 1px;
  background-color: #204039;
  position: absolute;
  top: 0%;
}

.home .scroll .scroll__line {
  height: 0;
  width: 1px;
  background-color: #ffe6c2;
}

.about-me .about-me__button {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
  background-color: #ffe6c2;
  height: 60px;
  width: 60px;
  cursor: pointer;
  -webkit-animation: rebond 1s 1.5s forwards;
          animation: rebond 1s 1.5s forwards;
  opacity: 0;
  -webkit-transition: all 0.78s cubic-bezier(0.9, 0, 0.88, 1.01);
  transition: all 0.78s cubic-bezier(0.9, 0, 0.88, 1.01);
}

.about-me .about-me__button .about-me__icon {
  height: 3px;
  border-radius: 50px;
  width: 35px;
  position: relative;
  top: 50%;
  left: 50%;
  background-color: #050505;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about-me .about-me__button .about-me__icon::after {
  content: '';
  position: absolute;
  height: 3px;
  border-radius: 20%;
  width: 35px;
  top: 50%;
  left: 50%;
  background-color: #050505;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.about-me .about-me__content {
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
}

.about-me .about-me__content h2 {
  display: block;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #050505;
  font-weight: 900;
  font-size: 30px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 1s .5s;
  transition: all 1s .5s;
}

.about-me .about-me__content .text {
  padding: 10%;
}

.about-me .about-me__content .text p {
  text-align: justify;
  opacity: 0;
  -webkit-transition: all 1s .5s;
  transition: all 1s .5s;
}

.about-me {
  display: none;
}

.about-me.active .about-me__button {
  height: 80vh;
  width: 90%;
  border-radius: 50px;
  bottom: 0;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%);
}

.about-me.active .about-me__button .about-me__icon {
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
          transform: translate(-50%, -50%) rotate(225deg);
}

.about-me.active .about-me__button .about-me__icon::after {
  -webkit-transform: translate(-50%, -50%) rotate(270deg);
          transform: translate(-50%, -50%) rotate(270deg);
}

.about-me.active h2 {
  opacity: 1;
}

.about-me.active p {
  opacity: 1 !important;
}

.youtube {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.youtube .nex-page {
  position: absolute;
  height: 30px;
  width: 100%;
  background-color: #fff;
}

.youtube .nex-page.top {
  position: relative;
  top: -29px;
  border-radius: 50px 50px 0 0;
}

.youtube .nex-page .nex-page__indicator {
  width: 130px;
  height: 5px;
  background-color: #050505;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
}

.youtube .youtube__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.youtube .youtube__title h2 {
  display: block;
  position: relative;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #ffe6c2;
  font-weight: 900;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
}

.youtube .youtube__title h2:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  width: 145px;
  background-color: #fff;
  -webkit-transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
  transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
}

.youtube .youtube__title .youtube__icon {
  -webkit-transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
  transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
  -webkit-transform: translateX(-220px);
          transform: translateX(-220px);
}

.youtube .youtube__title .youtube__icon img {
  margin-left: 10px;
  height: 65px;
}

.youtube h3 {
  color: #ffe6c2;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 3px;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  display: inline-block;
  -webkit-transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
  transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
}

.youtube .youtube__last-videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.youtube .youtube__last-videos .last-videos__container {
  width: 100%;
  margin: 2% 2%;
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
  transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
}

.youtube .youtube__last-videos .last-videos__container .last-videos__video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.youtube .youtube__last-videos .last-videos__container .last-videos__video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube .cl-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.youtube .cl-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.youtube .reveal-visible .youtube__icon {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.youtube .reveal-visible h2:after {
  width: 0px;
}

.youtube .last-videos__container.reveal-visible {
  opacity: 1;
}

.youtube .youtube__text.reveal-visible h3 {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.contact {
  height: 100vh;
  width: 100%;
  background-color: #204039;
}

.contact .contact__instagram {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
}

.contact .contact__instagram .contact__instagram-story {
  border: solid 7px #ffe6c2;
  border-radius: 100%;
  padding: 10px;
}

.contact .contact__instagram .contact__instagram-story img {
  width: 100%;
}

.contact .nex-page {
  position: relative;
  height: 30px;
  width: 100%;
  background-color: #fff;
}

.contact .nex-page.bottom {
  top: -1px;
  border-radius: 0 0 50px 50px;
}

@media screen and (max-width: 700px) {
  .presets-button-wrapper {
    bottom: 15% !important;
  }
  .youtube h2 {
    color: #050505 !important;
    font-size: 35px !important;
  }
  .youtube h3 {
    color: #050505;
  }
  .youtube__last-videos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .youtube__last-videos .last-videos__container {
    width: 90% !important;
    margin: 10% 0 0 0 !important;
  }
  .youtube__last-videos .last-videos__container .last-videos__video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
  }
  .youtube__last-videos .last-videos__container .last-videos__video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .no-res {
    display: none;
  }
  .cl-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .scroll-down {
    display: none;
  }
  .home__text-container {
    top: 45% !important;
  }
  .home__text-container .home__name {
    margin-bottom: 0 !important;
    font-size: 2em !important;
  }
  .home__text-container .home__citation {
    font-size: 0.4em;
    letter-spacing: 5px !important;
  }
}

@media screen and (min-width: 700px) {
  .nex-page {
    display: none;
  }
  .youtube {
    background-color: #204039;
  }
}
/*# sourceMappingURL=style.css.map */