@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translate(-50, -50%) rotate(-45deg);
            transform: translate(-50, -50%) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate(-50%, 50%) rotate(-45deg);
            transform: translate(-50%, 50%) rotate(-45deg);
  }
  100% {
    -webkit-transform: translate(-50, -50%) rotate(-45deg);
            transform: translate(-50, -50%) rotate(-45deg);
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translate(-50, -50%) rotate(-45deg);
            transform: translate(-50, -50%) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate(-50%, 50%) rotate(-45deg);
            transform: translate(-50%, 50%) rotate(-45deg);
  }
  100% {
    -webkit-transform: translate(-50, -50%) rotate(-45deg);
            transform: translate(-50, -50%) rotate(-45deg);
  }
}

@-webkit-keyframes rebond {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(0);
            transform: translate(-50%, -15%) scale(0);
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1.5);
            transform: translate(-50%, -15%) scale(1.5);
  }
  45% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1.2);
            transform: translate(-50%, -15%) scale(1.2);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1.4);
            transform: translate(-50%, -15%) scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1);
            transform: translate(-50%, -15%) scale(1);
  }
}

@keyframes rebond {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(0);
            transform: translate(-50%, -15%) scale(0);
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1.5);
            transform: translate(-50%, -15%) scale(1.5);
  }
  45% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1.2);
            transform: translate(-50%, -15%) scale(1.2);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1.4);
            transform: translate(-50%, -15%) scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -15%) scale(1);
            transform: translate(-50%, -15%) scale(1);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.home {
  z-index: 99;
  background-color: #050505;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.home h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 900;
  position: absolute;
  top: 45%;
  left: 50%;
  color: #dfc7a4;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  white-space: nowrap;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home .home__citation {
  top: 50%;
  font-weight: 400;
  font-size: 20px;
}

.home .home__citation .home__citation-text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.home .home__citation .letter {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.home .scroll-down {
  position: absolute;
  z-index: 2;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.home .scroll-down .scroll-down__indicator {
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  height: 15px;
  width: 15px;
  border-bottom: solid 1px #050505;
  border-left: solid 1px #050505;
  -webkit-animation: scrollDown 1.5s ease-in-out infinite;
          animation: scrollDown 1.5s ease-in-out infinite;
}

.home .nex-page {
  position: absolute;
  height: 30px;
  width: 100%;
  background-color: #fff;
}

.home .nex-page.top {
  bottom: -1px;
  border-radius: 50px 50px 0 0;
}

.home .nex-page .nex-page__indicator {
  width: 130px;
  height: 5px;
  background-color: #050505;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
}

.about-me .about-me__button {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
  background-color: #dfc7a4;
  height: 60px;
  width: 60px;
  cursor: pointer;
  -webkit-animation: rebond 1s 1.5s forwards;
          animation: rebond 1s 1.5s forwards;
  opacity: 0;
  -webkit-transition: all 0.78s cubic-bezier(0.9, 0, 0.88, 1.01);
  transition: all 0.78s cubic-bezier(0.9, 0, 0.88, 1.01);
}

.about-me .about-me__button .about-me__icon {
  height: 3px;
  border-radius: 50px;
  width: 35px;
  position: relative;
  top: 50%;
  left: 50%;
  background-color: #050505;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about-me .about-me__button .about-me__icon::after {
  content: '';
  position: absolute;
  height: 3px;
  border-radius: 20%;
  width: 35px;
  top: 50%;
  left: 50%;
  background-color: #050505;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.about-me .about-me__content {
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
}

.about-me .about-me__content h2 {
  display: block;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #050505;
  font-weight: 900;
  font-size: 30px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 1s .5s;
  transition: all 1s .5s;
}

.about-me .about-me__content .text {
  padding: 10%;
}

.about-me .about-me__content .text p {
  text-align: justify;
  opacity: 0;
  -webkit-transition: all 1s .5s;
  transition: all 1s .5s;
}

.about-me.active .about-me__button {
  height: 80vh;
  width: 90%;
  border-radius: 50px;
  bottom: 0;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%);
}

.about-me.active .about-me__button .about-me__icon {
  top: 93%;
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
          transform: translate(-50%, -50%) rotate(225deg);
}

.about-me.active .about-me__button .about-me__icon::after {
  -webkit-transform: translate(-50%, -50%) rotate(270deg);
          transform: translate(-50%, -50%) rotate(270deg);
}

.about-me.active h2 {
  opacity: 1;
}

.about-me.active p {
  opacity: 1 !important;
}

.youtube {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.youtube .youtube__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.youtube .youtube__title h2 {
  display: block;
  position: relative;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #050505;
  font-weight: 900;
  font-size: 35px;
}

.youtube .youtube__title h2:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  width: 145px;
  background-color: #fff;
  -webkit-transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
  transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
}

.youtube .youtube__title .youtube__icon {
  -webkit-transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
  transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
  -webkit-transform: translateX(-220px);
          transform: translateX(-220px);
}

.youtube .youtube__title .youtube__icon img {
  margin-left: 10px;
  height: 65px;
}

.youtube h3 {
  color: #050505;
  margin-top: 15px;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  display: inline-block;
  -webkit-transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
  transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
}

.youtube .youtube__last-videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.youtube .youtube__last-videos .last-videos__container {
  width: 100%;
  margin: 50px 2%;
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
  transition: all 1s cubic-bezier(0.9, 0, 0.88, 1.01);
}

.youtube .youtube__last-videos .last-videos__container .last-videos__video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.youtube .youtube__last-videos .last-videos__container .last-videos__video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube .reveal-visible .youtube__icon {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.youtube .reveal-visible h2:after {
  width: 0px;
}

.youtube .last-videos__container.reveal-visible {
  opacity: 1;
}

.youtube .youtube__text.reveal-visible h3 {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.contact {
  height: 100vh;
  width: 100%;
  background-color: #050505;
}

.contact .contact__instagram {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
}

.contact .contact__instagram .contact__instagram-story {
  border: solid 7px #dfc7a4;
  border-radius: 100%;
  padding: 10px;
}

.contact .contact__instagram .contact__instagram-story img {
  width: 100%;
}

.contact .nex-page {
  position: relative;
  height: 30px;
  width: 100%;
  background-color: #fff;
}

.contact .nex-page.bottom {
  top: -1px;
  border-radius: 0 0 50px 50px;
}

@media screen and (max-width: 980px) {
  .youtube__last-videos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .youtube__last-videos .last-videos__container {
    width: 90% !important;
    margin: 10% 0 0 0 !important;
  }
  .youtube__last-videos .last-videos__container .last-videos__video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
  }
  .youtube__last-videos .last-videos__container .last-videos__video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .scroll-down {
    display: none;
  }
  .home__citation {
    font-size: 12px !important;
  }
}

.home__name {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
  color: #dfc7a4;
}

.home__name .home__text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  color: #dfc7a4;
}

.home__name .home__text-wrapper .letter {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
  color: #dfc7a4;
}
/*# sourceMappingURL=style.css.map */