@import 'animation.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif; 
    scroll-behavior: smooth;
}

.loading-page__circular-text {
    z-index: 2;
    position: fixed;
    opacity: 0; 
    top: 50%;
    left: 50%;
    letter-spacing: 10px;
    font-size: 15px;
    animation: circleTextShow 1s 1s ease-in, circleTextRotate 2s 2s ease-out, circleTextHidde 1s 4s ease-out;
    #loading-page__text { 
        color: #dfc7a4;
        opacity: 0;
    }
}

.home {
    z-index: 99;
    background-color: #050505;
    background-size: cover;
    height: 100vh;
    width: 100%;

    h1{
        display: flex;
        flex-direction: row;
        font-weight: 900;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #dfc7a4;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 25px;
        white-space: nowrap;
        transform: translateX(-50%);
    }

    nav {
        position: fixed;
        right: 5%;
        top: 50%;
        height: 100vh;
        transform: translateY(-50%);

        #nav__line {
            opacity: 0;
            top: 5%;
            position: absolute;
            background-color:#dfc7a4; 
            width: 1px; 
            transform: translateX(-50%);
        }

        .home__indicator {
            position: absolute;
            top: 26%;
            color: #dfc7a4;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            .letter {
                font-size: 10px;
                font-weight: 400;
                display: inline-block;
                opacity: 0;
                margin: 3px 0;
                writing-mode: vertical-rl;
                transform: translateX(50px);
              }
        }

        ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 40%;
            display: none;

            li {
                height: 100%;
                border: solid 1px #dfc7a4;
                height: 10px;
                width: 10px;
                transform: translate(-50%,-50%) rotate(45deg);
                margin: 50px 0;
                list-style: none;
            }
        }
    }

    .active {
        .home__indicator {
            top: 5%;
        }
    }

    .scroll-down {
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translate(-50%,-50%);

        .scroll-down__indicator { 
            position: absolute;
            margin-top: 15px;
            transform: translate(-50%,-50%) rotate(-45deg);
            left: 50%;
            height: 15px;
            width: 15px;
            border-bottom: solid 1px #dfc7a4;
            border-left: solid 1px #dfc7a4;
            animation: scrollDown 1.5s ease-in-out infinite;
        }
    }
}

.youtube {
    background-color: #050505;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .youtube__title {
        display: flex;
        align-items: center;

        h2{
            display: block;
            position: relative;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #dfc7a4;
            font-weight: 900;
            font-size: 35px;
            &:after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 45px;
                width: 145px;
                background-color: #050505;
                transition: all 1s cubic-bezier(.9,0,.88,1.01);
            }
        }

        .youtube__icon {
            transition: all 1s cubic-bezier(.9,0,.88,1.01);
            transform: translateX(-220px);

            img {
            margin-left: 10px;
            height: 65px;
            }
        }
    }

    h3 {
        color: #dfc7a4; 
        margin-top: 15px;
        letter-spacing: 1px;
    }

    .youtube__last-videos {
        display: flex;
        justify-content: center;
        width: 100%;
        .last-videos__container {
            width: 100%;
            margin: 50px 2% ;
            .last-videos__video-wrapper {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                height: 0;

              }
              .last-videos__video-wrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            
        }
        
    }

    // reavel

    .reveal-visible {
        .youtube__icon {
            transform: translateX(0px);
        }

        h2{
            &:after{
                width: 0px;
            }
        }
    }
}

.contact {
    height: 100vh;
    width: 100%;
    background-color: #050505;

    .contact__instagram {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;

        .contact__instagram-story {

            border: solid 7px #dfc7a4;
            border-radius: 100%;
            padding: 10px;
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .youtube__last-videos {
        flex-direction: column;
        align-items: center!important;

        .last-videos__container {
            width: 90%!important;
            margin: 10% 0 0 0!important;
            .last-videos__video-wrapper {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                height: 0;

              }
              .last-videos__video-wrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            
        }
    }
}


.home__name {
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
    color: #dfc7a4;

    .home__text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
        color: #dfc7a4;

        .letter {
            transform-origin: 0 100%;
            display: inline-block;
            line-height: 1em;
            color: #dfc7a4;
          }
    }
}