@import 'animation.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif; 
    scroll-behavior: smooth;
}

.home {
    z-index: 99;
    background-color: #050505;
    background-size: cover;
    height: 100vh;
    width: 100%;

    h1{
        display: flex;
        flex-direction: row;
        font-weight: 900;
        position: absolute;
        top: 45%;
        left: 50%; 
        color: #dfc7a4;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 25px;
        white-space: nowrap;
        text-align: center;
        transform: translateX(-50%);
    }

    .home__citation {
        top: 50%;
        font-weight: 400;
        font-size: 20px;
          
          .home__citation-text-wrapper {
            position: relative;
            display: inline-block;
            padding-top: 0.2em;
            padding-right: 0.05em;
            padding-bottom: 0.1em;
            overflow: hidden;
          }
          
          .letter {
            transform-origin: 50% 100%;
            display: inline-block;
            line-height: 1em;
          }
    }


    .scroll-down {
        position: absolute;
        z-index: 2;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;

        .scroll-down__indicator {
            position: absolute;
            transform: translate(-50%,-50%) rotate(-45deg);
            height: 15px;
            width: 15px;
            border-bottom: solid 1px #050505;
            border-left: solid 1px #050505;
            animation: scrollDown 1.5s ease-in-out infinite;
        }
    }

    .nex-page {
        position: absolute;
        height: 30px;
        width: 100%;
        background-color: #fff;
        &.top {
            bottom: -1px;
            border-radius: 50px 50px 0 0;
        }

        .nex-page__indicator {
            width: 130px;
            height: 5px;
            background-color: #050505;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50px;
        }
    }
}

.about-me {
    .about-me__button {
        position: absolute;
        bottom: 20%; 
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50px; 
        background-color: #dfc7a4;
        height: 60px;
        width: 60px;
        cursor: pointer;
        animation: rebond 1s 1.5s forwards;
        opacity: 0;
        transition: all 0.78s cubic-bezier(.9,0,.88,1.01);
        .about-me__icon {
            height: 3px;
            border-radius: 50px;
            width: 35px;
            position: relative;
            top: 50%;
            left: 50%;
            background-color: #050505;
            transform: translate(-50%,-50%) rotate(0deg);
            transition: all 0.5s;
            &::after {
                content: '';
                position: absolute;
                height: 3px;
                border-radius: 20%;
                width: 35px;
                top: 50%;
                left: 50%;
                background-color: #050505;
                transform: translate(-50%,-50%) rotate(90deg);
            }
        }
    }
    .about-me__content {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 90%;
        h2 {
            display: block;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #050505;
            font-weight: 900;
            font-size: 30px;
            white-space: nowrap;
            opacity: 0;
            transition: all 1s .5s;
        }
        .text {
            padding: 10%;
            p {
                text-align: justify;
                opacity: 0;
                transition: all 1s .5s;
            }
        }
    }
}

.about-me {
    &.active {
    .about-me__button {
        height: 80vh;
        width: 90%;
        border-radius: 50px;
        bottom: 0;
        transform: translate(-50%,-15%);
        .about-me__icon {
            top: 93%;
            transform: translate(-50%,-50%) rotate(225deg);
            &::after {
                transform: translate(-50%,-50%) rotate(270deg);
            }
        }
    }
    h2 {
        opacity: 1;
    }
    p {
        opacity: 1!important;
    }
}
}

.youtube {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .youtube__title {
        display: flex;
        align-items: center;

        h2{
            display: block;
            position: relative;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #050505;
            font-weight: 900;
            font-size: 35px;
            &:after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 45px;
                width: 145px;
                background-color: #fff;
                transition: all 1s cubic-bezier(.9,0,.88,1.01);
            }
        }

        .youtube__icon {
            transition: all 1s cubic-bezier(.9,0,.88,1.01);
            transform: translateX(-220px);

            img {
            margin-left: 10px;
            height: 65px;
            }
        }
    }

    h3 {
        color: #050505; 
        margin-top: 15px;
        letter-spacing: 1px;
        opacity: 0;
        transform: translateY(10px);
        display: inline-block;
        transition: all 1s cubic-bezier(.9,0,.88,1.01);
    }

    .youtube__last-videos {
        display: flex;
        justify-content: center;
        width: 100%;
        .last-videos__container {
            width: 100%;
            margin: 50px 2% ;
            opacity: 0;
            transition: all 1s cubic-bezier(.9,0,.88,1.01);
            .last-videos__video-wrapper {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                height: 0;

              }
              .last-videos__video-wrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            
        }
        
    }

    // reavel

    .reveal-visible {
        .youtube__icon {
            transform: translateX(0px);
        }

        h2{
            &:after{
                width: 0px;
            }
        }
    }
    .last-videos__container.reveal-visible {
        opacity: 1;
    }

    .youtube__text.reveal-visible {
        h3 {
            opacity: 1;
            transform: translate(0);
        }
    }
}

.contact {
    height: 100vh;
    width: 100%;
    background-color: #050505;

    .contact__instagram {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;

        .contact__instagram-story {

            border: solid 7px #dfc7a4;
            border-radius: 100%;
            padding: 10px;
            img {
                width: 100%;
            }
        }
    }
    .nex-page {
        position: relative;
        height: 30px;
        width: 100%;
        background-color: #fff;
        &.bottom {
            top: -1px;
            border-radius: 0 0 50px 50px;
        }
    }
}

@media screen and (max-width: 980px) {
    .youtube__last-videos {
        flex-direction: column;
        align-items: center!important;

        .last-videos__container {
            width: 90%!important;
            margin: 10% 0 0 0!important;
            .last-videos__video-wrapper {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                height: 0;

              }
              .last-videos__video-wrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            
        }
    }

    .scroll-down {
        display: none;
    }

    .home__citation {
        font-size: 12px!important;
    }
}


.home__name {
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
    color: #dfc7a4;

    .home__text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
        color: #dfc7a4;

        .letter {
            transform-origin: 0 100%;
            display: inline-block;
            line-height: 1em;
            color: #dfc7a4;
          }
    }
}