@import 'animation.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0!important;
    font-family: futura-pt-bold, sans-serif;
    font-family: oswald, sans-serif;
    font-style: normal;
    font-weight: 700;    scroll-behavior: smooth;
    scrollbar-width: none;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    background-color: #204039;
}
a, iframe {
    cursor: none;
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.cursor {
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid #ffe6c2;
    transform: translate(-50%,-50%);
    transition: 1s;
    transition-property: transform;
}


.home {
    z-index: 99;
    background-color: #204039;
    background-size: cover;
    height: 100vh;
    width: 100%;

    .home__text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            display: flex;
            flex-direction: row;
            color: #ffe6c2;
            white-space: nowrap;
            text-align: center;
    
            .letter {
                text-transform: uppercase;
            }
        }

        .home__name {
            letter-spacing: 2px;
            font-size: 3.5em;
            overflow: hidden;
            .letter {
                transform-origin: 0 100%;
                display: inline-block;
                line-height: 1em;
                font-family: philosopher, sans-serif!important;
            }
        }

        .home__citation {
            font-size: 0.75em;
            letter-spacing: 10px;
              .home__citation-text-wrapper {
                padding-top: 0.2em;
                padding-right: 0.05em;
                padding-bottom: 0.1em;
              }
              
              .letter {
                transform-origin: 50% 100%;
                display: inline-block;
                line-height: 1em;
                font-family: 'Oswald', sans-serif;
                font-weight: 400;
                font-style: normal;
              }
        }
    }

    .presets-button-wrapper {
        opacity: 0;
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-decoration: none;
        color: rgba(225,225,225,0.2);
        .presets-button {
            position: relative;
            &.shine {
                background: rgba(255, 255, 255, 0) linear-gradient( to right, rgba(149, 119, 75, 0) 0%, rgba(255, 213, 153, 1) 20%, rgba(224, 218, 200, 1) 50%, rgba(255, 213, 153, 1) 80%, rgba(149, 119, 75, 0) 100% ) 0 0 no-repeat;
                background-position: 50%;
                background-size: 40% 100%;
                background-size: var(--shine-size, 40%) 100%;
                -webkit-background-clip: text;
                background-clip: text;
                will-change: background-position;
                animation: shine 1.6s infinite;

                .presets-button__text {
                    display: block;
                    font-size: 15px;
                    font-weight: 900;
                    letter-spacing: 5px;
                    margin-bottom: 10px;
                }

                .presets-button__line {
                    bottom: -16px;
                    margin: auto;
                    display: block;
                    height: 2px;
                    width: 80px;
                    left: 0;
                    right: 0;
                    animation: glowLine 1.6s infinite;
                    backface-visibility: hidden;
                }
            }
        }
    }

    .presets-button::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: attr(data-text);
        background: inherit;
        -webkit-filter: blur(4px);
        filter: blur(4px);
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 5px;
    }
    .scroll-down {
        position: absolute;
        z-index: 2;
        bottom: 65px;
        right: 5%;
        transform: translate(-50%,-50%);
        opacity: 0;

        .scroll-down__indicator {
            position: absolute;
            transform: translate(-50%,-50%) rotate(-45deg);
            height: 15px;
            width: 15px;
            border-bottom: solid 1px #ffe6c2;
            border-left: solid 1px #ffe6c2;
            animation: scrollDown 1.5s ease-in-out infinite;
        }
    }

    .scroll {
        position: fixed;
        left: 2.5%;
        bottom: 3%;
        z-index: 99;

        .scroll__indicator {
            height: 3vh;
            width: 1px;
            background-color: #204039;
            position: absolute;
            top: 0%;
        }
        
        .scroll__line {
            height: 0;
            width: 1px;
            background-color: #ffe6c2;
        }
    }
}

.presets {
    z-index: -1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 100px;

    .presets__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        background-color: #ffe6c2;
        padding: 40px;

        h1 {
            color: #050505;
            font-family: 'lato', sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .presets__pack {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            .pack-1 {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;

                .pack-1__img {
                    width: 100%;
                    animation: pack 3s cubic-bezier(.31,.43,.72,.57) infinite;
                    img {
                        width: 100%;
                    }
                }

                .pack-1__textContent {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    margin: 60px 0 0 0;
                    width: 100%;

                    .pack-1__title {
                        color: #050505;
                        font-size: 20px;
                        letter-spacing: 5px;
                        font-family: 'lato', sans-serif;
                        font-weight: bold;
                        margin-bottom: 30px;
                    }
                    .pack-1__text {
                        padding: 0 10%;
                        font-family: 'lato', sans-serif;
                        letter-spacing: 1px;
                        line-height: 35px;
                        font-weight: 400;
                    }
                    .pack-1__priceCat {
                        display: none;
                    }
                    .btn {
                        margin-top: 50px;
                        text-decoration: none;
                        background-color: #050505;
                        border-radius: 50px;
                        height: 50px;
                        width: 200px;
                        p {
                            position: relative;
                            top: 50%;
                            left: 50%;
                            color: #ffe6c2;
                            text-align: center;
                            transform: translate(-50%,-50%);
                            letter-spacing: 2px;
                            font-size: bold;
                            font-family: 'lato', sans-serif;
                        }
                    }
                }
            }
        }
    }
}
/*
.youtube {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4em 0 4em 0;

    .youtube__title {
        display: flex;
        align-items: center;

        h2{
            display: block;
            position: relative;
            letter-spacing: 10px;
            text-transform: uppercase;
            color: #050505;
            font-weight: 900;
            font-size: 60px;
            font-family: 'Lato', sans-serif;
        }
    }

    h3 {
        color: #050505; 
        margin-top: 15px;
        margin-bottom: 15px;
        letter-spacing: 3px;
        opacity: 0;
        transform: translateY(10px);
        display: inline-block;
        transition: all 1s cubic-bezier(.9,0,.88,1.01);
    }

    .youtube__container {
        width: 90%;
        background-color: #ffe6c2;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .youtube__content > * {
        flex: 1 1;
    }

    .youtube__content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: row;

        .youtube__last-videos {
            width: 100%;
            margin: 2% 2%;
            opacity: 0;
            transition: all 1s cubic-bezier(.9,0,.88,1.01);
            .last-videos__video-wrapper {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;

              }
              .last-videos__video-wrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            
        }
        
    }
    // reavel

    .reveal-visible {
        .youtube__icon {
            transform: translateX(0px);
        }

        h2{
            &:after{
                width: 0px;
            }
        }
    }
    .youtube__last-videos.reveal-visible {
        opacity: 1;
    }

    .youtube__text.reveal-visible {
        h3 {
            opacity: 1;
            transform: translate(0);
        }
    }
}

.contact {
    height: 100vh;
    width: 100%;
    background-color: #204039;

    .contact__instagram {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;

        .contact__instagram-story {

            border: solid 7px #ffe6c2;
            border-radius: 100%;
            padding: 10px;
            img {
                width: 100%;
            }
        }
    }
}
*/
@media screen and (max-width: 700px) {
    .presets-button-wrapper {
        bottom: 15%!important;
    }
    .presets {
        .presets__container {

            h1{
                font-size: 20px;
                white-space: nowrap;
            }
            .presets__pack {
                .pack-1 {
                    flex-direction: column;

                    .pack-1__textContent {
                        margin-top: 0;

                        .pack-1__text {
                            line-height: 20px;
                            text-align: justify;
                            font-size: 13px;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    /*.youtube {

        h2 {
            font-size: 35px!important;
        }

        .youtube__container {
            padding: 10%;
        }

        .youtube__content {
            flex-direction: column;
    
            .youtube__last-videos {
                margin: 1em 0 1em 0!important;
                .last-videos__video-wrapper {
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
    
                  }
                  .last-videos__video-wrapper iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                  }
                
            }
        }
    }*/

    .no-res {
        display: none;
    }

    .scroll-down {
        display: none;
    }

    .home__text-container {
        top: 45%!important;
        .home__name {
            margin-bottom: 0!important;
            font-size: 2em!important;
        }

        .home__citation {
            font-size: 0.4em;
            letter-spacing: 5px!important;
        }
    }

    .copyright {
        letter-spacing: 2px!important;
        font-size: 9px!important;
    }
}

@media screen and (min-width: 700px) {
    .youtube {
        background-color: #204039;
    }
}

.presets__area {
    z-index: 99;
    width: 90%;
    position: absolute;
}

.copyright {
    font-weight: 100;
    font-family: 'lato', sans-serif;
    text-align: center;
    color: #ffe6c2;
    font-size: 10px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}